SECRET_KEY=cambia-esta-clave
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=
BREVO_API_KEY=
DEFAULT_FROM_EMAIL=repuestosfullcars20@gmail.com
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
MP_ACCESS_TOKEN=
MP_PUBLIC_KEY=
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=
