SECRET_KEY=cambia-esta-clave
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
BREVO_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=
