dj-database-url>=3.1,<4
Django>=5.2,<5.3
django-allauth[socialaccount]>=65.10,<66
gunicorn>=23,<27
mercadopago>=3.2,<4
pillow>=11,<13
psycopg2-binary>=2.9,<3
python-dotenv>=1.0,<2
sib-api-v3-sdk>=7.6,<8
whitenoise>=6.9,<7